[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
api = "*"
flask-sqlalchemy = "*"
mecab = "*"
ipadic = "*"
pandas = "*"
wordcloud = "*"
mecab-python3 = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python backend/main.py"
